/* Configurações globais */
body {
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    display: flex;
    background-color: white;
    padding: 18px;
    font-size: 18px;
    justify-content: space-evenly;
    border-radius: 64px;
}

img {
    margin: 0 auto;
    display: block;
}

iframe {
    margin: 0 auto;
    display: block;
}

p {
    padding: 0px 50px 0px 100px;
}

ul {
    padding: 0px 50px 0px 100px;
}

.textoSubgeneros {
    padding: 0px 75px 0px 75px;
}


.container1 {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
}

.container2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
}

.container3 {
    display: flex;
    flex-direction: column;
}

/* Para telas menores que 768px */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .header {
        padding: 16px;
        font-size: 16px;
    }
    }

/* Para telas menores que 480px */
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    .header {
        padding: 14px;
        font-size: 14px;
    }
    }
