@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

body {
    background-color: black;
    color: white;
    font-family: "Germania One", system-ui;
    font-size: large;
}

header {
    display: flex;
    background-color: white;
    padding: 18px;
    font-size: large;
    justify-content: space-evenly;
    border-radius: 64px;
}

img {
    margin: 0 auto;
    display: block;
    padding: 18px;
}

iframe {
    margin: 0 auto;
    display: block;
}

p {
    padding: 0px 50px 0px 100px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

ul {
    padding: 0px 50px 0px 100px;
}

/* Para telas menores que 768px */
@media (max-width: 768px) {
    
    }

/* Para telas menores que 425px */
@media (max-width: 425px) {

    }
